{% extends "base.html" %}
{% block content %}
	<div id="headerwrap" style="padding-top: 200px;">
	<div class="row" >
            <div  class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <h1 class="text-center" style="color: white;">Social Passport</h1>
    <h3 class="text-center" style="color: white;">See whats happening now, from the places you've been</h3> 
   	<p class="text-center" style="text-color: #f2f2f2;">Lannie Miao, Andrew Mendez, CMTech Assignment</p> 
   	</div>
   </div>
   	<div class="row mt centered" >
   		<div class="col-sm-6 col-sm-offset-3">
    <div class="fb-login-button" style="padding-left: 34%;"data-size='xlarge' data-scope="public_profile">
        Sign in
    </div>
</div>
</div>
<div id="headerwrap">

{% endblock %}
